/* Added cairo Font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Cairo');

/* Using FlexBox for responsiveness */
.container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cairo', sans-serif;

}
.content {
    width: 100%;
}
.nav {
    width: 100%;
    background-color: rgb(210, 147, 147);
    padding-top: 5%;
}

.box-2 {
    flex: 2;
    order: 1;
}

.bm-input {
    margin-top: 1em;
    width: 100%;
}

.locations-list {
    list-style-type: none;
    margin-top: 0;
}

.list-location {
    margin: 48px 0px 48px 0px;
}

.list-location:hover {
    color: rgb(194, 0, 0);
    cursor: pointer;
}

/* Managing Focus of Locations */
.list-location:focus {
    color: rgb(194, 0, 0);
    outline-color: white;
}

.notification {
    position: absolute;
    top: 3%;
    right: 3.5%;
    z-index: 99;
    background-color: rgb(194, 0, 0);
    border-radius: 5%;
    padding: 1%;
    text-align: center;
    color: white;
}